body {
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
}

/* ---------- HEADER -----------*/
#myHeader {
	height: 100%;	
}

a {
	text-decoration: none;
}

#img {
	background-size: 100%;
	margin: 0 auto;
	padding: 0;
	height: auto;
	width: 100%;
	background-position: center;
}

#img img {
	width: 100%;
}

#myHeader h6 {
	color: #fff;
	font-size: 12px;
	padding-left: 5px;
}

/* ----------- NAV BAR ------------*/

#main-nav {
	margin: 0 auto;
	display: table;
	background-color: black;
	width: 100%;
	text-align: center;
	padding: 10px 16px;
	position: fixed;
	top: 0px;
	z-index: 10;
}

#main-nav ul {
	text-align: center;
	overflow: hidden;
	display: inline-table;
	margin-top: 15px;

}

#main-nav ul li {
	float: left;
	padding-right: 50px;
	list-style: none;
	display: inline;
}

#main-nav ul li a {
	text-decoration: none;
	color: white;
}

/* ----------- MAIN INDEX ------------*/


#main {
	width: 100%;
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;
	border: none;
}

#fermentering img, #fermentering2 img {
	opacity: 1;
	position: absolute;
}

#fermentering, #fermentering2 {
	position: relative;
	border: none;
}

.text-i-box {
	z-index: 3;
	position: relative;
	top: 50px;
	padding: 5% 15%;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	background-color: rgba(1000,1000,1000,0.75);
	margin-bottom: 100px;
}

.text-i-box h4 {
	margin-top: 20px;
	margin-bottom: 15px;
}

.text-i-box h2 {
	font-size: 42px;
}

.text-i-box p#last {
	margin-bottom: 50px;
}

.text-i-box a {
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	color: #fff;
	padding: 15px;
	text-decoration: none;
}

.text-i-box a:hover {
	color: #eee;
	background-color: #333;
}

/* ----------- MAIN ABOUT ------------*/

.text-i-box2 {
	z-index: 3;
	position: absolute;
	top: 130px;
	padding: 50px 200px 80px 200px;
	text-align: center;
	left: 10%;
    right: 10%;
	background-color: rgba(1000,1000,1000,0.75);
	margin-bottom: 20px;
}

.text-i-box2 h2 {
	font-size: 42px;
	margin-bottom: 24px;
}

.text-i-box2 #source:hover {
	color: #eee;
	background-color: #333;
}

.text-i-box2 #source {
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	color: #fff;
	padding: 10px 15px;
	text-decoration: none;
    border-radius: 10px;
    margin-top: 15px;
    display: inline-block;
}


/* ----------- MAIN CONTACT ------------*/

.text-i-box3 {
	z-index: 3;
	position: absolute;
	top: 80px;
	padding: 50px 200px 80px 200px;
	text-align: center;
	left: 10%;
    right: 10%;
	margin-bottom: 20px;
}

.text-i-box3 h2 {
	font-size: 42px;
	margin-bottom: 42px;
	color: #eee;
}

#contact-form {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 50px;
	background-color: rgba(1000,1000,1000,0.5);
	border-radius: 20px;
}

.form label {
	margin-bottom: 10px;
	color: #555;
}

.form-control {
	margin-bottom: 25px;
	border-radius: 10px;
	border: none;
	color: #888;
}

.btn {
	color: #fff;
	padding: 10px 15px;
	text-decoration: none;
	text-align: center;
	border: 2px solid;
    border-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
    display: inline-block;
}

.btn:hover {
	color: #eee;
	background-color: rgba(0,0,0,0.2);
}

/* ----------- SLIDESHOW ------------*/

#fermentering #image-gallery, #fermentering2 #image-gallery {
	height: 100%;
	width: 130%;
	text-align: center;
}
.text-i-box4 {
	position: absolute;
	top: 10%;
	padding: 25px;
	text-align: center;
	left: 10%;
    right: 10%;
	margin-bottom: 20px;
	background: rgba(1000,1000,1000,0.5);
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 30px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
  color: white;
}

.prev {
	left: 10px;
	color: white;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row {
	margin: 0 auto;
	margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  margin: 0 auto;
  width: 16.6%;
  background-image: cover;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  background-size: contain;
  height: 100%;
}

.active,
.demo:hover {
  opacity: 1;
}


/* ----------- GRID ------------*/

.wrapper {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(450px, auto);
  padding: 0px;
}
.wrapper p {
	text-align: center;
	color: #fff;
	top: 80%;
	font-size: 24px;
	-webkit-transition-property: all;
  	-webkit-transition-property: transform;
  	-webkit-transition-duration: 2s;
}

.wrapper a {
	color: #fff;
	padding: 15px;
	text-decoration: none;
	text-align: center;
	border: 2px solid;
    border-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
}

.wrapper a:hover {
	color: #ddd;
	border-color: gainsboro;
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.one img {
	background-size: cover;
	width: 100%;
	height: inherit;
	object-fit: cover;
}

.two { 
  grid-column: 2;
  grid-row: 1;
  background-color: #333;
}
.three {
  grid-column: 1;
  grid-row: 2;
  background-color: #333;
}
.four {
  grid-column: 2;
  grid-row: 2;
}

.four img {
	background-size: cover;
	width: 100%;
	height: inherit;
	object-fit: cover;
}

.one, .two, .three, .four{
	width: 100%;
	height: 100%;
	text-align: center;
}

.two p, .three p{
    padding: 15px 50px;
    font-family: 'lato';
    font-size: 16px;
    margin-bottom: 40px;
}

.around h3, .around h4 {
	font-family: 'lato';
	text-align: center;
	color: #fff;
}

.around h3 {
	font-size: 42px;
	padding-top: 50px;
}

.around h4 {
	font-size: 18px;
}




footer {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	background-color: #000;
	height: 100px;	
}

footer ul {
	list-style: none;
	margin-top: 15px;
}

footer ul li {
	display: inline;
	padding-right: 50px;
	color: #fff;
}
footer ul li a {
	color: #fff;
}




/*--------- MEDIA QUERY IPAD------------*/

@media screen 
and (max-width: 950px) {

	/* ----------- MAIN INDEX ------------*/

.wrapper {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(350px, auto);
  padding: 0px;
}

.text-i-box h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}

.text-i-box h2 {
	font-size: 24px;
}

.text-i-box {
	padding: 30px;
	font-size: 15px;
	margin: 0 auto;
	margin-bottom: 10%;
}

.text-i-box a {
	margin-bottom: 50px;
}

#fermentering {

}

#fermentering2 {
	display: block;
}

}


/*--------- MEDIA QUERY IPHONE------------*/


@media screen and (max-width: 768px) { 

.wrapper {
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(375px, auto);
  padding: 0px;
}


.one {
  grid-column: 1;
  grid-row: 2;
}

.two { 
  grid-column: 1;
  grid-row: 1;
  background-color: #333;
}
.three {
  grid-column: 1;
  grid-row: 3;
  background-color: #333;
}
.four {
  grid-column: 1;
  grid-row: 4;
}

}

